body {
    margin: 0;
    text-align: center;
    background-color: rgba(165, 241, 237, 0.636);
}

.container {
    background-color: rgb(59, 218, 210);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

h1 {
    font-size: 3rem;
    font-family: "georgia", verdana;
}

.input-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(72, 84, 244);
    font-family: "Helvetica", Garamond;
    width: 350px;
    margin-right: 15px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.add-button {
    background-color: palegreen;
}

.add-button:hover {
    background-color: rgb(116, 249, 116);
}

.delete-buttons {
    background-color: rgb(247, 114, 90);
}

.delete-buttons:hover {
    background-color: rgb(251, 96, 69);
}

.up-buttons, .down-buttons {
   background-color: rgb(161, 145, 246);
}

.up-buttons:hover, .down-buttons:hover {
   background-color: rgb(152, 133, 247);
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    background-color: rgb(255, 250, 240);
    border: 2px solid rgb(133, 133, 134);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-items {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}